<a href="https://colab.research.google.com/github/Jhames01/Checkpoint/blob/master/Dataframe_Filtering_and_Selection_using_iloc_and_loc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create a dataframe called "employee_df" with the following data:

import pandas as pd

data = {'Name': ['John', 'Mary', 'Bob', 'Sarah', 'Tom', 'Lisa'], 'Department': ['IT', 'Marketing', 'Sales', 'IT', 'Finance', 'Marketing'], 'Age': [30, 40, 25, 35, 45, 28], 'Gender': ['Male', 'Female', 'Male', 'Female', 'Male', 'Female'], 'Salary': [50000, 60000, 45000, 55000, 70000, 55000], 'Experience': [3, 7, 2, 5, 10, 4]}

 employee_df = pd.DataFrame(data)



Use the iloc method to select the first 3 rows of the dataframe.
Use the loc method to select all rows where the Department is "Marketing".
Use the iloc method to select the Age and Gender columns for the first 4 rows of the dataframe.
Use the loc method to select the Salary and Experience columns for all rows where the Gender is "Male".
Note:

iloc is used for selection by index location
loc is used for selection by label

In [11]:
import pandas as pd

# Create a dictionary with the data
data = {'Name': ['John', 'Mary', 'Bob', 'Sarah', 'Tom', 'Lisa'],
        'Department': ['IT', 'Marketing', 'Sales', 'IT', 'Finance', 'Marketing'],
        'Age': [30, 40, 25, 35, 45, 28],
        'Gender': ['Male', 'Female', 'Male', 'Female', 'Male', 'Female'],
        'Salary': [50000, 60000, 45000, 55000, 70000, 55000],
        'Experience': [3, 7, 2, 5, 10, 4]}

# Create the DataFrame
employee_df = pd.DataFrame(data)

# Display the DataFrame
#print(employee_df)

In [6]:
#Use the iloc method to select the first 3 rows of the dataframe.
# Using dataframethree is your DataFrame
Dataframethree = employee_df.iloc[:3]
print(Dataframethree)

   Name Department  Age  Gender  Salary  Experience
0  John         IT   30    Male   50000           3
1  Mary  Marketing   40  Female   60000           7
2   Bob      Sales   25    Male   45000           2

In [12]:
#Use the loc method to select all rows where the Department is "Marketing".
# Assuming df is your DataFrame and 'Department' is a column
dept_marketing = employee_df.loc[employee_df['Department'] == 'Marketing']
print(dept_marketing)

   Name Department  Age  Gender  Salary  Experience
1  Mary  Marketing   40  Female   60000           7
5  Lisa  Marketing   28  Female   55000           4

In [20]:
#Use the iloc method to select the Age and Gender columns for the first 4 rows of the dataframe.
# Assuming df is your DataFrame and 'Age' and 'Gender' are column names
df_selected = employee_df.iloc[:4][['Age', 'Gender']]
print(df_selected)

   Age  Gender
0   30    Male
1   40  Female
2   25    Male
3   35  Female

In [21]:
#Use the loc method to select the Salary and Experience columns for all rows where the Gender is "Male".
# Assuming df is your DataFrame and 'Salary' and 'Experience' are column names
df_selected = employee_df.loc[employee_df['Gender'] == 'Male', ['Salary', 'Experience']]
print(df_selected)

   Salary  Experience
0   50000           3
2   45000           2
4   70000          10