<a href="https://colab.research.google.com/github/Jhames01/Checkpoint/blob/master/Data_pre_processing_checkpoint.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this checkpoint, we are going to work on the billing history of the Tunisian electricity and gas company and apply what you learned in pre-processing chapter.

Dataset description :

The provided dataset contains the billing history of the Tunisian electricity and gas company's customers from 2005 to 2019

Instructions

Load the dataset, display the ten first lines, store the results in a variable called 'client_0_bills'.
What is the data type of the 'client_0_bills' variable ?
Display the general information of the dataset and try to answer the following questions :
How many rows and columns do we have in this dataset ?
How many categorical features are present in the dataset ?
How much memory space does the dataset consume ?
Inspect the dataset for potential missing values.
Select your strategy to handle missing values, and tell us why you had made that choice.
Run a descriptive analysis on numeric features (columns).
Select the bills records for the client with an id ='train_Client_0', using 2 methods.
Transform the 'counter_type' feature to a numeric variable using the encoder of your choice.
Delete the 'counter_statue' feature from the Dataframe

In [7]:
import pandas as pd

# Load the dataset (assuming it's in CSV format)
df = pd.read_csv('/content/STEG_BILLING_HISTORY.csv')

# Display the first 10 lines
client_0_bills = df.head(10)

# Output the result
print(client_0_bills)

<ipython-input-7-fefa812a7b0c>:4: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/STEG_BILLING_HISTORY.csv')

        client_id invoice_date  tarif_type  counter_number counter_statue  \
0  train_Client_0   2014-03-24          11       1335667.0              0
1  train_Client_0   2013-03-29          11       1335667.0              0
2  train_Client_0   2015-03-23          11       1335667.0              0
3  train_Client_0   2015-07-13          11       1335667.0              0
4  train_Client_0   2016-11-17          11       1335667.0              0
5  train_Client_0   2017-07-17          11       1335667.0              0
6  train_Client_0   2018-12-07          11       1335667.0              0
7  train_Client_0   2019-03-19          11       1335667.0              0
8  train_Client_0   2011-07-22          11       1335667.0              0
9  train_Client_0   2011-11-22          11       1335667.0              0

   counter_code  reading_remarque  counter_coefficient  consommation_level_1  \
0           203               8.0                    1                    82
1           203               6.0                    1                  1200
2           203               8.0                    1                   123
3           207               8.0                    1                   102
4           207               9.0                    1                   572
5           207               9.0                    1                   314
6           207               9.0                    1                   541
7           207               9.0                    1                   585
8           203               9.0                    1                  1200
9           203               6.0                    1                  1082

   consommation_level_2  consommation_level_3  consommation_level_4  \
0                     0                     0                     0
1                   184                     0                     0
2                     0                     0                     0
3                     0                     0                     0
4                     0                     0                     0
5                     0                     0                     0
6                     0                     0                     0
7                     0                     0                     0
8                   186                     0                     0
9                     0                     0                     0

   old_index  new_index  months_number counter_type
0      14302      14384              4         ELEC
1      12294      13678              4         ELEC
2      14624      14747              4         ELEC
3      14747      14849              4         ELEC
4      15066      15638             12         ELEC
5      15638      15952              8         ELEC
6      15952      16493             12         ELEC
7      16493      17078              8         ELEC
8       7770       9156              4         ELEC
9       9156      10238              4         ELEC

In [9]:
#What is the data type of the 'client_0_bills' variable ?
type(client_0_bills)
print(client_0_bills.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   client_id             10 non-null     object
 1   invoice_date          10 non-null     object
 2   tarif_type            10 non-null     int64
 3   counter_number        10 non-null     float64
 4   counter_statue        10 non-null     object
 5   counter_code          10 non-null     int64
 6   reading_remarque      10 non-null     float64
 7   counter_coefficient   10 non-null     int64
 8   consommation_level_1  10 non-null     int64
 9   consommation_level_2  10 non-null     int64
 10  consommation_level_3  10 non-null     int64
 11  consommation_level_4  10 non-null     int64
 12  old_index             10 non-null     int64
 13  new_index             10 non-null     int64
 14  months_number         10 non-null     int64
 15  counter_type          10 non-null     object
dtypes: float64(2), int64(10), object(4)
memory usage: 1.4+ KB
None

In [11]:
# Display the general information of the dataset and try to answer the following questions :
# How many rows and columns do we have in this dataset ?
# How many categorical features are present in the dataset ?
# How much memory space does the dataset consume ?

# Display general information about the dataset
df_info = df.info()

# Optionally, store the number of rows and columns
num_rows = df.shape[0]
num_columns = df.shape[1]

# Count categorical features
categorical_features = df.select_dtypes(include=['object', 'category']).shape[1]

# Memory usage
memory_usage = df.memory_usage(deep=True).sum()

# Print the results
print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_columns}")
print(f"Number of categorical features: {categorical_features}")
print(f"Memory usage: {memory_usage} bytes")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4476749 entries, 0 to 4476748
Data columns (total 16 columns):
 #   Column                Dtype
---  ------                -----
 0   client_id             object
 1   invoice_date          object
 2   tarif_type            int64
 3   counter_number        float64
 4   counter_statue        object
 5   counter_code          int64
 6   reading_remarque      float64
 7   counter_coefficient   int64
 8   consommation_level_1  int64
 9   consommation_level_2  int64
 10  consommation_level_3  int64
 11  consommation_level_4  int64
 12  old_index             int64
 13  new_index             int64
 14  months_number         int64
 15  counter_type          object
dtypes: float64(2), int64(10), object(4)
memory usage: 546.5+ MB
Number of rows: 4476749
Number of columns: 16
Number of categorical features: 4
Memory usage: 1482455607 bytes

In [13]:
# Check for missing values in the dataset
missing_values = df.isnull().sum()

# Display columns with missing values
missing_values = missing_values[missing_values > 0]

# Print the result
print("Columns with missing values:")
print(missing_values)

Columns with missing values:
counter_number        48
reading_remarque    4531
dtype: int64

In [15]:
# Run a descriptive analysis on numeric features (columns)
# Run descriptive analysis on numeric features
numeric_description = df.describe()

# Display the results
print(numeric_description)

         tarif_type  counter_number  counter_code  reading_remarque  \
count  4.476749e+06    4.476701e+06  4.476749e+06      4.472218e+06
mean   2.012804e+01    1.230595e+11  1.724884e+02      7.321713e+00
std    1.347256e+01    1.657276e+12  1.338871e+02      1.571859e+00
min    8.000000e+00    0.000000e+00  0.000000e+00      5.000000e+00
25%    1.100000e+01    1.211080e+05  5.000000e+00      6.000000e+00
50%    1.100000e+01    4.945610e+05  2.030000e+02      8.000000e+00
75%    4.000000e+01    1.115161e+06  2.070000e+02      9.000000e+00
max    4.500000e+01    2.798115e+13  6.000000e+02      4.130000e+02

       counter_coefficient  consommation_level_1  consommation_level_2  \
count         4.476749e+06          4.476749e+06          4.476749e+06
mean          1.003040e+00          4.109795e+02          1.093225e+02
std           3.083466e-01          7.573080e+02          1.220123e+03
min           0.000000e+00          0.000000e+00          0.000000e+00
25%           1.000000e+00          7.900000e+01          0.000000e+00
50%           1.000000e+00          2.740000e+02          0.000000e+00
75%           1.000000e+00          6.000000e+02          0.000000e+00
max           5.000000e+01          9.999100e+05          9.990730e+05

       consommation_level_3  consommation_level_4     old_index     new_index  \
count          4.476749e+06          4.476749e+06  4.476749e+06  4.476749e+06
mean           2.030620e+01          5.292588e+01  1.776700e+04  1.834970e+04
std            1.574239e+02          8.754725e+02  4.036693e+04  4.095321e+04
min            0.000000e+00          0.000000e+00  0.000000e+00  0.000000e+00
25%            0.000000e+00          0.000000e+00  1.791000e+03  2.056000e+03
50%            0.000000e+00          0.000000e+00  7.690000e+03  8.192000e+03
75%            0.000000e+00          0.000000e+00  2.166000e+04  2.234300e+04
max            6.449200e+04          5.479460e+05  2.800280e+06  2.870972e+06

       months_number
count   4.476749e+06
mean    4.483095e+01
std     3.128335e+03
min     0.000000e+00
25%     4.000000e+00
50%     4.000000e+00
75%     4.000000e+00
max     6.366240e+05

In [19]:
# Select the bills records for the client with an id ='train_Client_0', using 2 methods
# Select records using boolean indexing
client_0_bills = df[df['client_id'] == 'train_Client_0']

# Display the result
print(client_0_bills)

         client_id invoice_date  tarif_type  counter_number counter_statue  \
0   train_Client_0   2014-03-24          11       1335667.0              0
1   train_Client_0   2013-03-29          11       1335667.0              0
2   train_Client_0   2015-03-23          11       1335667.0              0
3   train_Client_0   2015-07-13          11       1335667.0              0
4   train_Client_0   2016-11-17          11       1335667.0              0
5   train_Client_0   2017-07-17          11       1335667.0              0
6   train_Client_0   2018-12-07          11       1335667.0              0
7   train_Client_0   2019-03-19          11       1335667.0              0
8   train_Client_0   2011-07-22          11       1335667.0              0
9   train_Client_0   2011-11-22          11       1335667.0              0
10  train_Client_0   2008-11-25          11       1335667.0              0
11  train_Client_0   2012-07-23          11       1335667.0              0
12  train_Client_0   2012-11-29          11       1335667.0              0
13  train_Client_0   2013-07-22          11       1335667.0              0
14  train_Client_0   2014-07-18          11       1335667.0              0
15  train_Client_0   2014-11-24          11       1335667.0              0
16  train_Client_0   2015-11-18          11       1335667.0              0
17  train_Client_0   2012-03-27          11       1335667.0              0
18  train_Client_0   2011-03-30          11       1335667.0              0
19  train_Client_0   2013-02-12          11       1335667.0              0
20  train_Client_0   2010-07-22          11       1335667.0              0
21  train_Client_0   2010-11-24          11       1335667.0              0
22  train_Client_0   2005-10-17          11       1335667.0              0
23  train_Client_0   2006-02-24          11       1335667.0              0
24  train_Client_0   2006-06-23          11       1335667.0              0
25  train_Client_0   2006-10-18          11       1335667.0              0
26  train_Client_0   2007-06-27          11       1335667.0              0
27  train_Client_0   2007-10-25          11       1335667.0              0
28  train_Client_0   2007-02-26          11       1335667.0              0
29  train_Client_0   2008-07-28          11       1335667.0              0
30  train_Client_0   2009-01-04          11       1335667.0              0
31  train_Client_0   2009-07-27          11       1335667.0              0
32  train_Client_0   2009-11-24          11       1335667.0              0
33  train_Client_0   2010-03-29          11       1335667.0              0
34  train_Client_0   2008-01-04          11       1335667.0              0

    counter_code  reading_remarque  counter_coefficient  consommation_level_1  \
0            203               8.0                    1                    82
1            203               6.0                    1                  1200
2            203               8.0                    1                   123
3            207               8.0                    1                   102
4            207               9.0                    1                   572
5            207               9.0                    1                   314
6            207               9.0                    1                   541
7            207               9.0                    1                   585
8            203               9.0                    1                  1200
9            203               6.0                    1                  1082
10           203               6.0                    1                   174
11           203               6.0                    1                   628
12           203               6.0                    1                   886
13           203               8.0                    1                   147
14           203               8.0                    1                    99
15           203               8.0                    1                   141
16           207               9.0                    1                   217
17           203               8.0                    1                   292
18           203               6.0                    1                   497
19           203               8.0                    1                    38
20           203               6.0                    1                   278
21           203               6.0                    1                   234
22           203               6.0                    1                   124
23           203               6.0                    1                   141
24           203               6.0                    1                   162
25           203               6.0                    1                   159
26           203               6.0                    1                   240
27           203               6.0                    1                   276
28           203               6.0                    1                   182
29           203               6.0                    1                   171
30           203               6.0                    1                   315
31           203               6.0                    1                   312
32           203               6.0                    1                   267
33           203               6.0                    1                   276
34           203               6.0                    1                   277

    consommation_level_2  consommation_level_3  consommation_level_4  \
0                      0                     0                     0
1                    184                     0                     0
2                      0                     0                     0
3                      0                     0                     0
4                      0                     0                     0
5                      0                     0                     0
6                      0                     0                     0
7                      0                     0                     0
8                    186                     0                     0
9                      0                     0                     0
10                     0                     0                     0
11                     0                     0                     0
12                     0                     0                     0
13                     0                     0                     0
14                     0                     0                     0
15                     0                     0                     0
16                     0                     0                     0
17                     0                     0                     0
18                     0                     0                     0
19                     0                     0                     0
20                     0                     0                     0
21                     0                     0                     0
22                     0                     0                     0
23                     0                     0                     0
24                     0                     0                     0
25                     0                     0                     0
26                     0                     0                     0
27                     0                     0                     0
28                     0                     0                     0
29                     0                     0                     0
30                     0                     0                     0
31                     0                     0                     0
32                     0                     0                     0
33                     0                     0                     0
34                     0                     0                     0

    old_index  new_index  months_number counter_type  counter_type_numeric
0       14302      14384              4         ELEC                     0
1       12294      13678              4         ELEC                     0
2       14624      14747              4         ELEC                     0
3       14747      14849              4         ELEC                     0
4       15066      15638             12         ELEC                     0
5       15638      15952              8         ELEC                     0
6       15952      16493             12         ELEC                     0
7       16493      17078              8         ELEC                     0
8        7770       9156              4         ELEC                     0
9        9156      10238              4         ELEC                     0
10       5417       5591              4         ELEC                     0
11      10780      11408              4         ELEC                     0
12      11408      12294              4         ELEC                     0
13      13983      14130              4         ELEC                     0
14      14384      14483              4         ELEC                     0
15      14483      14624              4         ELEC                     0
16      14849      15066              4         ELEC                     0
17      10488      10780              4         ELEC                     0
18       7273       7770              4         ELEC                     0
19      14264      14302              2         ELEC                     0
20       6761       7039              4         ELEC                     0
21       7039       7273              4         ELEC                     0
22       3685       3809              4         ELEC                     0
23       3809       3950              4         ELEC                     0
24       3950       4112              4         ELEC                     0
25       4112       4271              4         ELEC                     0
26       4453       4693              4         ELEC                     0
27       4693       4969              4         ELEC                     0
28       4271       4453              4         ELEC                     0
29       5246       5417              4         ELEC                     0
30       5591       5906              4         ELEC                     0
31       5906       6218              4         ELEC                     0
32       6218       6485              4         ELEC                     0
33       6485       6761              4         ELEC                     0
34       4969       5246              4         ELEC                     0

In [20]:
# Transform the 'counter_type' feature to a numeric variable using the encoder of your choice

from sklearn.preprocessing import LabelEncoder

# Initialize the LabelEncoder
label_encoder = LabelEncoder()

# Transform the 'counter_type' feature
df['counter_type_numeric'] = label_encoder.fit_transform(df['counter_type'])

# Display the updated DataFrame
print(df[['counter_type', 'counter_type_numeric']].head())

  counter_type  counter_type_numeric
0         ELEC                     0
1         ELEC                     0
2         ELEC                     0
3         ELEC                     0
4         ELEC                     0

In [21]:
# Delete the 'counter_statue' feature from the Dataframe
# Delete the 'counter_statue' column from the DataFrame
df = df.drop(columns=['counter_statue'])

# Display the updated DataFrame to confirm deletion
print(df.head())

        client_id invoice_date  tarif_type  counter_number  counter_code  \
0  train_Client_0   2014-03-24          11       1335667.0           203
1  train_Client_0   2013-03-29          11       1335667.0           203
2  train_Client_0   2015-03-23          11       1335667.0           203
3  train_Client_0   2015-07-13          11       1335667.0           207
4  train_Client_0   2016-11-17          11       1335667.0           207

   reading_remarque  counter_coefficient  consommation_level_1  \
0               8.0                    1                    82
1               6.0                    1                  1200
2               8.0                    1                   123
3               8.0                    1                   102
4               9.0                    1                   572

   consommation_level_2  consommation_level_3  consommation_level_4  \
0                     0                     0                     0
1                   184                     0                     0
2                     0                     0                     0
3                     0                     0                     0
4                     0                     0                     0

   old_index  new_index  months_number counter_type  counter_type_numeric
0      14302      14384              4         ELEC                     0
1      12294      13678              4         ELEC                     0
2      14624      14747              4         ELEC                     0
3      14747      14849              4         ELEC                     0
4      15066      15638             12         ELEC                     0