<a href="https://colab.research.google.com/github/Jhames01/Checkpoint/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [5]:
!pip install pandas # Installs pandas
import pandas as pd # Imports the pandas library and assigns it the alias 'pd'

data = {"ProductName": ["Product 1", "Product 2", "Product 3"], "ProductPrice": [10, 20, 30]}

df1 = pd.DataFrame(data)

print(df1)

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
  ProductName  ProductPrice
0   Product 1            10
1   Product 2            20
2   Product 3            30

In [1]:
data = {'ProductName': ['Product 1', 'Product 2', 'Product 3'], 'ProductPrice': [10, 20, 30]}

index = ['A', 'B', 'C']

df6 = pd.DataFrame(data, index=index)

print(df6)

NameError: name 'pd' is not defined

In [9]:
#Create a list of products, 'Apple', 'Banana', 'Carrot', 'Daikon
products = ['Apple','Banana','Carrot','Daikon']
type(products)

list

In [11]:
#Convert the list into a pandas Series using the pd.Series() function
import pandas as pd # Imports pandas and assigns it to the alias pd
products_categories = pd.Series(products)

In [13]:
#Print out the new Series to see the values
print(products_categories)

0     Apple
1    Banana
2    Carrot
3    Daikon
dtype: object

In [15]:
#Create a Series with prices of the products, [2, 1, 3, 4]
prices = pd.Series([2,1,3,4])

In [17]:
#Print out the new Series to see the values
print(prices)

0    2
1    1
2    3
3    4
dtype: int64

In [20]:
#Add the two Series together and print out the result
import pandas as pd
products_categories = pd.Series(['Apple', 'Banana', 'Carrot', 'Daikon'])
prices = pd.Series([2, 1, 3, 4])
print(products_categories + prices.astype(str))

0     Apple2
1    Banana1
2    Carrot3
3    Daikon4
dtype: object

In [23]:
#Create a DataFrame using a dictionary of lists, where the keys are 'Product' and 'Price' and the values are the two Series you created.
import pandas as pd
data = {'productName': ['Apple', 'Banana', 'Carrot', 'Daikon'], 'productPrice': [2, 1, 3, 4]}
df = pd.DataFrame(data)
print(df)

  productName  productPrice
0       Apple             2
1      Banana             1
2      Carrot             3
3      Daikon             4

In [25]:
#Create a DataFrame using a list of dictionaries, where each dictionary represents a row in the DataFrame with keys 'Product' and 'Price' and values from the two Series you created.
data = [['Apple',2],['Banana',1],['Carrot', 3],['Daikon', 4]]
df = pd.DataFrame(data, columns=['productName','prices'])
print(df)

  productName  prices
0       Apple       2
1      Banana       1
2      Carrot       3
3      Daikon       4